{% extends 'store/base.html' %}
{% block title %}Invoice {{obj.item.id}}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Audit  </title>
<meta name="robots" content="noindex,nofollow" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
<style>

</style>

<div class="container invoice-receipt p-5">
  <div class="d-flex align-items-end justify-content-between">
    <h1><a href="{% url 'account-item' obj.item.id %}">{{obj.item.id}}</a> <small><sub>({{obj.item.client}})</sub></small></h1>
    <div class="d-flex gap-10 align-items-end">
      <p style="font-style: italic;">Net Profit</p>
      <p class="fw-bold ">{{obj.net_profit}} birr</p>
    </div>
  </div>
  <div class="row mt-5 px-4 pe-5 justify-content-between">
    <div class="col-md-4">
        <div class="d-flex justify-content-between">
          <h6 class="mb-4">Scrap Type</h6>
          <p style="width: 100px;" class=" mb-3 text-gray-9 fw-medium text-center border-1 rounded-md  py-1">{{obj.scrap_type}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <h6 class="mb-4">Quantity</h6>
          <p style="width: 100px;" class="mb-3 text-gray-9 fw-medium text-center border-1 rounded-md py-1">{{obj.quantity}} Units</p>
        </div>
        <div class="d-flex justify-content-between">
          <h6 class="mb-4">Scrap Price</h6>
          <p style="min-width: 100px;" class="mb-3 text-gray-9 fw-medium text-center border-1 rounded-md py-1">{{obj.scrap_value}} birr</p> 
        </div>
        <div >
          <h6 class="mb-4">Dimensions</h6>
          <p class="mb-3 text-gray-9 fw-medium border-1 rounded-md px-2  py-1">{{obj.dimensions}}</p>
        </div>
    </div>
    <div class="offset-md-1 col-md-7">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Type</th>
            <th class="text-end">Ammount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h6>Sheet Metal Cost</h6></td>
            <td class="text-gray-9 fw-medium text-end">{{obj.sheet_metal_cost}} birr</td>
          </tr>
          <tr>
            <td><h6>Unit Price</h6></td>
            <td class="text-gray-9 fw-medium text-end">{{obj.unit_price}} birr</td>
          </tr>
          <tr>
            <td><h6>Total</h6></td>
            <td class="text-gray-9 fw-medium text-end">{{obj.total}} birr</td>
          </tr>
          <tr>
            <td><h6>Gross Revenue</h6></td>
            <td class="text-gray-9 fw-medium text-end">{{obj.gross_revenue}} birr</td>
          </tr>
          <tr>
            <td><h6>Operational Cost</h6></td>
            <td class="text-gray-9 fw-medium text-end">{{obj.opertional_cost}} birr</td>
          </tr>
          <tr>
            <td><h6>Gross Cost</h6></td>
            <td class="text-gray-9 fw-medium text-end">{{obj.gross_cost}} birr</td>
          </tr>
          <tr>
            <td><h6>Gross profit</h6></td>
            <td class="text-gray-9 fw-medium text-end">{{obj.gross_profit}} birr</td>
          </tr> 
        
        </tbody>
      </table>
    </div>
  </div>
  
</div>
{% endblock %}