{% extends 'store/base.html' %}
{%load add_filters%}
{% block content %}
<!-- Header Section -->
<div class="container my-4">
  <h2>Last Payment On <span>{{last_payment.date|date:"d M,Y"}}</span></h2>
    <div class="shadow-sm rounded p-3">
        <div class="row align-items-center">
            <div class="col-md-6 d-flex">
                <h4 class="display-6 mb-0 text-success text-capitalize">{{employee.name}}<sup class="text-lg "> ({{employee.position}})</sup></h4>
            </div>

        </div>
    </div>
</div>

<div class="container">
  <style>
    .table th, .table td {
        text-align: center;
    }
  </style>
  <div class="row d-flex justify-content-between">
      <div class="{%if request.user.role != 'SH' %} col-md-6 col-lg-7 col-xl-7{%else%}col-12{%endif%}">
          <table class="table table-striped table-bordered">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">date</th>
                      <th scope="col">overtime</th>
                      <th scope="col">salery</th>
                      <th scope="col">bonus</th>
                      <th scope="col">total</th>
                  </tr>
              </thead>
              <tbody>
                  {% for customer in payments %}
                  <tr>
                      <th scope="row">{{ customer.date|date:"d M,Y" }}</th>
                      <td><p class="text-capitalize h6 mb-0">{{ customer | overtime }} Br</p> </td>
                      <td><p class="text-capitalize h6 mb-0">{{ customer.employee.salary }} Br</p> </td>
                      <td><p class="text-capitalize h6 mb-0">{{ customer.bonus }} Br</p> </td>
                      <td><p class="text-capitalize h6 mb-0">{{ customer.total }} Br</p> </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {%if request.user.role != "SH"%}
      <form class="col-md-4 col-lg-4 col-xl-4  " action="" method="post">
          {%csrf_token%}
              <div class="p-3 bg-body-tertiary">
                <span class="fw-bold">Recient Recap</span>
                <div class="d-flex justify-content-between mt-2">
                  <span>Salary </span> <span>{{employee.salary}} birr</span>
                </div>
                <hr />
                <div class="d-flex justify-content-between mt-2">
                  <span class="lh-sm">Overtime X ({%if employee.account%}{{overtime}}{%endif%})</span>
                  <span>50 birr</span>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <span>Bonus </span>
                    <div class="d-flex align-items-center gap-2">
                      <input type="number" class="form-control p-1" name="bonus" style="width: 75px;" name="bonus"> 
                      <p class="mb-0">Birr</p>
                    </div>
                  </div>
                <hr />
                <div class="d-flex justify-content-between mt-2">
                  <span>Total (Not bonus Included) </span> <span class="text-success">{{total}} birr</span>
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button class="btn btn-success px-4">Pay</button>
                </div>
              </div>
      </form>
      {%endif%}
  </div>
</div>
{% endblock %}
